#project {
  padding: 128px 0;
}
.project_heading {
  margin-bottom: 64px;
}
.project_heading h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  text-align: left;
}
.project_heading h6 {
  font-size: 18px;
  font-weight: 400;
  line-height: 64px;
  padding-top: 35px;
}
.project_left {
  background: url(../../assets/project_left.png);
  padding: 300px 6px 76px 50px;
  width: 100%;
  position: relative;
  /* z-index: 1; */
  /* color: white; */
}
.project_left h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 40px;
  text-align: left;
}
.project_left p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}
.project_left h6 {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: rgb(211, 180, 95);
  cursor: pointer;
}
