* {
  margin: 0;
  padding: 0;
}
span a {
  padding: 5px 10px;
  background-color: #fcd980;
  border-radius: 20px;
  color: #000000;
}
.baaner_main {
  background-color: #1c1e53;
}
.baaner_text,
.baaner_img {
  padding: 100px 60px;

  width: 100% !important;
  height: auto;
}
img {
  width: 100%;
  height: auto;
}
.baaner_img img {
  width: 40%;
  height: auto;
}
.baaner_text h2 {
  padding: 50px 0;
  font-size: 30px;
  color: #fff;
}
.baaner_text,
p {
  /* padding: 20px 0; */
  /* color: #fff; */
}
