* {
  margin: 0;
  padding: 0;
}
.menu_bg {
  background-color: #1c1e53;
}
.menu_bg .navbar-nav a,
.btn a {
  padding: 0 40px !important;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
