* {
  margin: 0;
  padding: 0;
}
.menu_bg {
  background-color: #1c1e53;
  width: 100%;
  height: auto;
}
.menu_bg .navbar-nav a,
.btn a {
  padding: 10px 40px !important;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
.btn a {
  border: 2px solid #818bbb;
  border-radius: 20px;
}
