.footer_main {
  background-color: #1c1e53;
  padding: 150px 50px;
}
.footer_left h6 {
  color: white;
  margin-top: 30px;
}
.footer_right {
  padding: 0px 200px;
}

.footer_right h1,
h6 {
  color: #fff;
}
.footer_right h6 {
  margin-bottom: 30px;
  color: #fff;
}
/* .footer_right a {
  padding: 0px 40px !important;
} */
.socalicon {
  padding-right: 20px 40px;
  color: #fff;
  font-size: 25px;
}
.copy_right {
  background-color: bisque;
  color: #000000;
  text-align: end;
}
.copy_right h6 {
  margin-top: 10%;
  padding: 0 20px;
}
